body {
  margin: 0;
  padding: 0;
  font-family:"Futura",sans-serif;
  text-align: center;
  background-image: url("img/doubledragon1-amstradvirgin.jpg");
  background-size: cover;
  background-position: center;
}
.container {

  height: 500px;
  width: 800px;
  display: none;
  overflow: hidden;
  background-image: url("img/area1.png");
  background-position: 0px -330px;
  background-size: 4000px;
  margin: 50px auto;
  position: relative;
  -webkit-transition: all 1000s ease-in-out;
  -moz-transition: all 1000s ease-in-out;
  -o-transition: all 1000s ease-in-out;
  transition: all 1000ms ease-in-out;
}
.topScene {
  width: 100%;
  height: 400px;
}
.cell {
  float:left;
  width: 20px;
  height: 20px;
}


.invert {
  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.lifesPlayer {
  position: absolute;
  left: 20%;
  bottom: 10px;
  color: #a7f8fa;
  font-size: 34px;


  text-shadow: 1px 4px 0px #307c90;
  z-index: 999999;

}
.lifesPlayer span {
  margin-left: 10px;
}
.lifeBarPlayer {
  position: absolute;
  left: 27%;
  bottom: 15px;
  z-index: 999999;

}
.lifeBarPlayer span {
  border: 3px solid #fff;
  width: 20px;
  display: inline-block;
  height: 20px;
}
.lifeBarfull {
  background-color: #0000ff;
}
.hide {
  display: none;
}
.visible {
  display: block;
}
.intro {
  background-image: url("img/intro.png");
  background-size: 800px ;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  width: 100%;
  height: 100vh;
}
.start {
  width: 200px;
  background-color: #a7f8fa;
  height: 40px;
  color: red;
  margin:0 auto;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  border:0px;
  text-shadow: 1px 2px 0px #307c90;
  box-shadow: 2px 3px 0px #307c90;
  position: relative;
  top: 40px;
  cursor: pointer;
}
.gameOver {
  opacity: 0;
  height: 0px;
  background-image: url("img/gameover.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #000;
}
@-webkit-keyframes walkPlayer1 {
  0%   { background-position: 0px 0px;}
  25% { background-position: -60px 0px;}
  50% { background-position: -120px 0px; }
  100 { background-position: 0px 0px; }
}
@-moz-keyframes walkPlayer1 {
  0%   { background-position: 0px 0px;}
  25% { background-position: -60px 0px;}
  50% { background-position: -120px 0px; }
  100 { background-position: 0px 0px; }
}
@-o-keyframes walkPlayer1 {
  0%   { background-position: 0px 0px;}
  25% { background-position: -60px 0px;}
  50% { background-position: -120px 0px; }
  100 { background-position: 0px 0px; }
}
@keyframes walkPlayer1 {
  0%   { background-position: 0px 0px;}
  25% { background-position: -60px 0px;}
  50% { background-position: -120px 0px; }
  100 { background-position: 0px 0px; }
}
